.card_container {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cards {
    border: 3px solid gray;
    width: 20%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
}

.top-icons{
    width: 100%;
    height: 60px;
    position: relative;
}

.profile{
    width: 90px;
    height: 90px;
    background: white;
    border: 3px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 33%;
    bottom: 50%;
    padding: 20px;
    margin-top: 40px;

}

.fa-desktop{
    font-size: 50px;
    color: orange;
}

.fa-circle-xmark{
    font-size: 50px;
    color: orange;
}

.fa-martini-glass-citrus{
    font-size: 50px;
    color: orange;
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
b {
    text-align: center;
    font-size: 30px;
}

.center-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 30px;
    width: 100%;
    padding: 22px;
    text-align: center;
    color: #a29899;

}

a{
    display: flex;
    padding: 15px 70px;
    border: 2px solid black;
    font-size: 25px;
    color: black;
    margin-bottom: 70px;
}