.container{
    width: 60%;
    height: 100vh;
    background: silver;
    margin-right: 400px;
    margin-left: 400px;

}

.header{
    width: 100%;
    height: 100px;
    background: #ccd6e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_side{
    width: 85px;
    height: 40px;
    margin: 45px;
}
.box{
    width: 85px;
    height: 40px;
    background: #102b40;
    display: flex;
    border-radius: 15%;
}

.right_side{
    width: 100px;
    height: 100px;
    display: flex;
    margin-right: 45px;
    justify-content: space-around;
    align-items: center;


}

.icons{
    width: 80px;
    height: 60px;
    margin-top: 40px;
    background: #cad4df;
}


.fa-magnifying-glass{
    color: darkviolet;
    font-size: 25px;
}

.fa-bars{
    color: darkviolet;
    font-size: 25px;
}

.centre{
    width: 100%;
    height: 450px;
    background: #102b3f;
}

.footer{
    width: 100%;
    height: 450px;
    background: #ccd6e0;
    display: flex;
    justify-content: center;
    position: relative;
    column-gap: 45px;
}

.blocks{
    width: 200px;
    height: 170px;
    background: #6863e1;
    border-radius: 10%;
    position: relative;
    top: -90px;

}